@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');

.antonio {
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body, html {
    padding: 0;
    margin: 0;
    align-items: center;
}

main {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main {
    font-family: 'Antonio';
    font-size: 80px;
    text-align: center;
    animation: moveUp 3s forwards;
    opacity: 0;
}

.all {
    font-family: "Helvetica";
    text-align: center;
    animation: visible 3s forwards;
    padding: 50px 80px 0px 80px;
    max-width: 732px;
    margin: -100px auto;
    position: relative;
    padding: 21px 0;
    width: 100%;
    flex-grow: 1;
    font-size: 12px;
    opacity: 0;
}

.flip {
    font-family: 'Antonio';
    text-align: center;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

img {
    position: relative;
    max-height: 100%;
    object-fit: contain;
    max-height: 690px;
}

.editor {
    outline:none;
    font-size: 13px;
}

.toolbar {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    visibility: hidden;
}

.toolbar button {
    background-color: white;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.toolbar button:hover {background-color: #ddd;}

.editor {
    padding: 20px;
    min-height: 300px;
    max-height: 600px;
    overflow-y: auto;
}

.editor p {
    margin: 0;
    padding: 5px 0;
}

.editor p:empty::before {
    content: attr(placeholder);
    color: #888;
}

.editor:focus {outline: none;}

.editor img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

@keyframes moveUp {
    0% {
        transform: translateY(+3vh) scale(1);
        opacity: 0;
    }
    100% {
        transform: translateY(-4vh) scale(0.8);
        opacity: 1;
    }
}

@keyframes visible {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}
